* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#main-container {
    display: flex;
    flex: 1;
    background-color: rgba(137, 43, 226, 0.614);
    justify-content: center;
}

#header-container {
    background-color: rgba(109, 139, 48, 0.808);
}

#footer-container {
    background-color: rgb(245, 175, 44);
}

#gameboard {
    align-self: center;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px 250px;
    width: 50%;
    justify-content: center;
}

#top ,#bottom, #left, #right, #middle {
    border: 1px solid black;
}

#top {
    border-top: none;
    border-bottom: none;
}

#bottom {
    border-top: none;
    border-bottom: none;
}

#left {
    border-right: none;
    border-left: none;
}

#right {
    border-right: none;
    border-left: none;
}

.current-turn {
    background-color: #4CAF50;
}